.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2c3e50;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.loginBox {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 360px;
    text-align: center;
    animation: slide-in 0.7s ease-out forwards;
    opacity: 0;
}

@keyframes slide-in {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.title {
    margin-bottom: 25px;
    color: #333;
    font-size: 24px;
}

.input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* To include padding and border in the element's total width and height */
    transition: border-color 0.3s;
}

.input:focus {
    outline: none;
    border-color: #3498db;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.btn:hover {
    background-color: #2980b9;
}

.error {
    color: #e74c3c;
    margin-bottom: 15px;
    font-size: 14px;
}

.toggleText {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.toggleLink {
    color: #3498db;
    cursor: pointer;
    font-weight: bold;
}