.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../img/Background-3.png');
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginContainer::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000040;
}

.loginBox {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 360px;
    text-align: center;
    animation: slide-in 0.7s ease-out forwards;
    opacity: 0;
}

@keyframes slide-in {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.title {
    margin-bottom: 25px;
    color: #333;
    font-size: 24px;
}

.input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* To include padding and border in the element's total width and height */
    transition: border-color 0.3s;
}

.input:focus {
    outline: none;
    border-color: var(--pri);
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--pri);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

.btn:hover {
    background-color: var(--pri-hover);
}

.error {
    color: var(--error);
    margin-bottom: 15px;
    font-size: 14px;
}

.toggleText {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.toggleLink {
    color: var(--pri);
    cursor: pointer;
    font-weight: bold;
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  z-index: 999;
}

.popupBox {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.25);
  text-align: center;
  width: 320px;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
