*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-coc);
}
.contBtn{
    background: #000;
    position: relative;
    top: 50px;
    left: 50px;
}
.contCard{
    background-color: #000;
    position: relative;
    top: 80px;
    left: 40px;
}
.btn{
    min-width: 150px;
    max-height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: var(--pri-dark);
    color: var(--light);
    border: 1px solid var(--sec);
    gap: 5px;
}
.img{
    background: url('../img/canon.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.img2{
    background: url('../img/King.png');
    background-position: center;
    background-size: cover;
    height: 40px;
    width: 40px;
}