
.nav {
  background: linear-gradient(90deg, #141414 0%, var(--sec) 100%);
  padding: 0.6rem 1rem;
  border-bottom: 2px solid var(--pri);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-coc);
  z-index: 5;
}

.coc {
  color: var(--pri);
  text-shadow: 2px 2px 0px #000;
  font-size: 1.8rem;
  margin-top: 10px;
}
.desktopIcons {
  display: flex;
  gap: 10px;
}

.btn {
  height: 35px;
  width: 35px;
  border: 1px solid var(--pri);
  background: transparent;
  border-radius: 8px;
  color: var(--pri);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.btn:hover {
  background: var(--pri);
  color: var(--sec);
}
.menu {
  border: 1px solid var(--pri);
  background: transparent;
  color: var(--pri);
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 1.4rem;
  display: none;
}
.sidePanel {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: #0f0f0f;
  border-left: 2px solid var(--pri);
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  transition: right 0.4s ease;
  z-index: 999;
}

.show {
  right: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(2px);
  z-index: 998;
}

.closeBtn {
  background: transparent;
  color: var(--pri);
  border: none;
  font-size: 1.6rem;
  align-self: flex-end;
}

.panelBtn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: transparent;
  color: var(--pri);
  border: 1px solid var(--pri);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.4s;
}

.panelBtn:hover {
  background: var(--pri);
  color: var(--sec);
}
@media (max-width: 768px) {
  .desktopIcons {
    display: none;
  }

  .menu {
    display: block;
  }
}

@media (min-width: 769px) {
  .sidePanel,
  .backdrop {
    display: none;
  }
}
